.masthead{
background-repeat: no-repeat;
background-size: 50%;
min-height: 100vh;
background: padding 50px;
background-position-x: center;
background-position-y: center;
color: white;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
}   

h1{
    font-size: 4rem;
    font-family:'Amatic SC', cursive;
}

.color-overly{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 2);
}

.gradient1{
position: bottom left;
background: rgb(97,105,230);
background: radial-gradient(circle, rgba(97,105,230,1) 10%, 
rgba(123,113,214,0.8214636196275386) 41%,
rgba(77,42,144,0.7150210425967262) 44%, 
rgba(165,126,213,1) 100%, rgba(93,8,154,1) 100%);
}

body{
margin: 10;
padding: 10;
font-family:'Century Gothic', cursive;
font-size: 30px;
color: white;
/* background: rgb(1,70,120); */
background-image: linear-gradient(90deg, rgba(1,70,120,0.7307692307692308) 0%, rgba(1,0,29,0.8974358974358975) 27%), url('/static/Images/Logo.svg');
}

.navbar-nav{
font-family:'Amatic SC', cursive;
font-size: 3rem;
font-weight: bold;
}

.list-group-item{
    background-color: transparent;
    color:azure;
    font-size:medium;
    margin: 15px;
}

.custom{
    border-radius: 30px;
    border-color: azure;
    border: 4px;
    background-color: transparent;
    color: azure;
    font-family:'Amatic SC', cursive;
}

.navbar-brand {
    margin-left: 30;
}

small{
font-family:'Amatic SC', cursive;
font-size: 3rem;
}

.list-group{
    list-style-type:none;
    font-size: medium;
}
