{% extends "base.html" %}

{% block title %} 
    Home
{% endblock %}

{% block content %}
<h1 align="left"> Welcome {{ user.username }}</h1>
<br />
<h3 align="left"> you can review and delete your Meeting Minutes here.</h3>

<br />
<ul class = "list-group list-group-flush" id="notes">
   {% for note in user.notes %} 
    <div class="container mt-3">
        <div class="d-flex mb-3">
            <div class="card img-fluid text-white" style="width:auto height:auto">
                <img class="card-img-top" src="/static/Images/purple_c.svg" alt="Card image" style="width:100%">
                <div class="card-img-overlay">
                <p class="card title"><h1>{{ note.title }}</h1>Meeting ID: {{note.id}} </p> 
                <p class="card-text">Date:  {{ note.date }}</p>
                <p class="card title"><h1 >Attendees</h1></p>
                <p class="card-text">Present:  {{ note.a_present }}</p>
                <p class="card-text">Appologies:  {{ note.a_absent}}</p>
                <p class="card title"><h1 >Discussion notes</h1></p>
                <p class="card-text">Topic:  {{ note.topic }}</p>
                <p class="card-text">Raised by:  {{ note.raised_by}}</p>
                <p class="card-text">Action Items:  {{ note.action }}</p>
                <p class="card-text">Person Responsable:  {{ note.person_R}}</p>
                <p class="card-text">Deadline:  {{ note.deadline }}</li>
                <p class="card-text">Addtional Information:  {{ note.extra_data}}</p>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-outline-info" style="margin:30,10,0,30" onClick="deleteNote({{ note.id }})">Delete Record</button>
</div>
    {% endfor %}
</ul>

{% endblock %}